/* Utilities
----------------------------------------------------------------------------- */
.u-no-padding {
  padding: 0;
}

.u-mt0 {
  margin-top: 0;
}

.u-mt03 {
  margin-top: 0.3em;
}

.u-mt05 {
  margin-top: 0.5em;
}

.u-mt07 {
  margin-top: 0.7em;
}

.u-mt08 {
  margin-top: 0.8em;
}

.u-mt1 {
  margin-top: 1em;
}

.u-mt104 {
  margin-top: 1.4em;
}
.u-mt105 {
  margin-top: 1.5em;
}
.u-mt107 {
  margin-top: 1.7em;
}

.u-mt2 {
  margin-top: 2em;
}

.u-mt205 {
  margin-top: 2.5em;
}

.u-mt3 {
  margin-top: 3em;
}
.u-mt4 {
  margin-top: 4em;
}
.u-mt405 {
  margin-top: 4.5em;
}
.u-mt5 {
  margin-top: 5em;
}
.u-mt505 {
  margin-top: 5.5em;
}
.u-mt6 {
  margin-top: 6em;
}
.u-mt7 {
  margin-top: 7em;
}
.u-mt8 {
  margin-top: 8em;
}
.u-mt9 {
  margin-top: 9em;
}
.u-mt10 {
  margin-top: 10em;
}

.u-mb0 {
  margin-bottom: 0;
}
.u-mb01 {
  margin-bottom: 0.1em;
}

.u-mb02 {
  margin-bottom: 0.2em;
}

.u-mb03 {
  margin-bottom: 0.3em;
}

.u-mb04 {
  margin-bottom: 0.4em;
}

.u-mb05 {
  margin-bottom: 0.5em;
}

.u-mb06 {
  margin-bottom: 0.6em;
}

.u-mb07 {
  margin-bottom: 0.7em;
}

.u-mb08 {
  margin-bottom: 0.8em;
}

.u-mb09 {
  margin-bottom: 0.9em;
}

.u-mb1 {
  margin-bottom: 1em;
}

.u-mb102 {
  margin-bottom: 1.2em;
}

.u-mb103 {
  margin-bottom: 1.3em;
}

.u-mb104 {
  margin-bottom: 1.4em;
}

.u-mb105 {
  margin-bottom: 1.5em;
}

.u-mb108 {
  margin-bottom: 1.8em;
}

.u-mb2 {
  margin-bottom: 2em;
}

.u-mb202 {
  margin-bottom: 2.2em;
}

.u-mb203 {
  margin-bottom: 2.3em;
}

.u-mb204 {
  margin-bottom: 2.4em;
}

.u-mb205 {
  margin-bottom: 2.5em;
}

.u-mb3 {
  margin-bottom: 3em;
}

.u-mb305 {
  margin-bottom: 3.5em;
}

.u-mb4 {
  margin-bottom: 4em;
}

.u-mb405 {
  margin-bottom: 4.5em;
}

.u-mb407 {
  margin-bottom: 4.7em;
}

.u-mb5 {
  margin-bottom: 5em;
}

.u-mb505 {
  margin-bottom: 5.5em;
}

.u-mb507 {
  margin-bottom: 5.7em;
}

.u-mb6 {
  margin-bottom: 6em;
}

.u-mb605 {
  margin-bottom: 6.5em;
}

.u-mb7 {
  margin-bottom: 7em;
}

.u-mb8 {
  margin-bottom: 8em;
}

.u-mb9 {
  margin-bottom: 9em;
}

.u-mb10 {
  margin-bottom: 10em;
}

.u-mr-auto{
  margin-right: auto;
}

.u-mr03{
  margin-right: 0.3em;
}


.u-mr04 {
  margin-right: 0.4em;
}

.u-mr05 {
  margin-right: 0.5em;
}

.u-mr1 {
  margin-right: 1em;
}

.u-mr2 {
  margin-right: 2em;
}

.u-ml-auto {
  margin-left: auto;
}

.u-ml0 {
  margin-left: 0;
}

.u-ml02 {
  margin-left: 0.2em;
}

.u-ml05 {
  margin-left: 0.5em;
}

.u-ml1 {
  margin-left: 1em;
}

.u-ml2 {
  margin-left: 2em;
}

.u-m-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.u-p0 {
  padding: 0;
}

.u-p1 {
  padding: 1em;
}

.u-p2 {
  padding: 2em;
}

.u-pt0 {
  padding-top: 0;
}

.u-pt05 {
  padding-top: 0.5em;
}
.u-pt06 {
  padding-top: 0.6em;
}
.u-pt07 {
  padding-top: 0.7em;
}
.u-pt08 {
  padding-top: 0.8em;
}

.u-pt1 {
  padding-top: 1em;
}

.u-pt105 {
  padding-top: 1.5em;
}

.u-pt108 {
  padding-top: 1.8em;
}

.u-pt109 {
  padding-top: 1.9em;
}
.u-pt1005 {
  padding-top: 10.5em;
}
.u-pt11 {
  padding-top: 11em;
}

.u-pt2 {
  padding-top: 2em;
}

.u-pt205 {
  padding-top: 2.5em;
}

.u-pt3 {
  padding-top: 3em;
}

.u-pt304 {
  padding-top: 3.4em;
}

.u-pt305 {
  padding-top: 3.5em;
}

.u-pt4 {
  padding-top: 4em;
}

.u-pt405 {
  padding-top: 4.5em;
}

.u-pt407 {
  padding-top: 4.7em;
}

.u-pt5 {
  padding-top: 5em;
}

.u-pt6 {
  padding-top: 6em;
}

.u-pt7 {
  padding-top: 7em;
}

.u-pt705 {
  padding-top: 7.5em;
}

.u-pt8 {
  padding-top: 8em;
}

.u-pt9 {
  padding-top: 9em;
}
.u-pt905 {
  padding-top: 9.5em;
}

.u-pt10 {
  padding-top: 10em;
}

.u-pt11 {
  padding-top: 11em;
}

.u-pt12 {
  padding-top: 12em;
}

.u-pt13 {
  padding-top: 13em;
}

.u-pt14 {
  padding-top: 14em;
}

.u-pt15 {
  padding-top: 15em;
}

.u-pb0 {
  padding-bottom: 0 !important;
}

.u-pb03 {
  padding-bottom: 0.3em;
}
.u-pb04 {
  padding-bottom: 0.4em;
}
.u-pb05 {
  padding-bottom: 0.5em;
}
.u-pb08 {
  padding-bottom: 0.8em;
}

.u-pb1 {
  padding-bottom: 1em;
}
.u-pb105 {
  padding-bottom: 1.5em;
}
.u-pb102 {
  padding-bottom: 1.2em;
}
.u-pb2 {
  padding-bottom: 2em;
}
.u-pb205 {
  padding-bottom: 2.5em;
}
.u-pb3 {
  padding-bottom: 3em;
}
.u-pb4 {
  padding-bottom: 4em;
}
.u-pb405 {
  padding-bottom: 4.5em;
}
.u-pb407 {
  padding-bottom: 4.7em;
}
.u-pb5 {
  padding-bottom: 5em;
}
.u-pb505 {
  padding-bottom: 5.5em;
}
.u-pb6 {
  padding-bottom: 6em;
}
.u-pb7 {
  padding-bottom: 7em;
}
.u-pb705 {
  padding-bottom: 7.5em;
}
.u-pb8 {
  padding-bottom: 8em;
}
.u-pb9 {
  padding-bottom: 9em;
}
.u-pb10 {
  padding-bottom: 10em;
}

.u-pb305 {
  padding-bottom: 3.5em;
}

.u-pb4 {
  padding-bottom: 4em;
}

.u-pr0 {
  padding-right: 0;
}

.u-pr1 {
  padding-right: 1em;
}

.u-pr2 {
  padding-right: 2em;
}

.u-pr205 {
  padding-right: 2.5em;
}

.u-pr3 {
  padding-right: 3em;
}

.u-pr4 {
  padding-right: 4em;
}

.u-pr405 {
  padding-right: 4.5em;
}

.u-pr5 {
  padding-right: 5em;
}

.u-pr6 {
  padding-right: 6em;
}

.u-pr7 {
  padding-right: 7em;
}

.u-pl0 {
  padding-left: 0;
}
.u-pl05 {
  padding-left: .5em;
}

.u-pl1 {
  padding-left: 1em;
}
.u-pl105 {
  padding-left: 1.5em;
}
.u-pl2 {
  padding-left: 2em;
}
.u-pl205 {
  padding-left: 2.5em;
}
.u-pl3 {
  padding-left: 3em;
}

.u-pl305 {
  padding-left: 3.5em;
}
.u-pl4 {
  padding-left: 4em;
}

.u-pl105 {
  padding-left: 1.5em;
}

.u-pl2 {
  padding-left: 2em;
}

.u-pl20px {
  padding-left: 20px;
}

.u-pl40px {
  padding-left: 40px;
}

.u-block {
  display: block;
}

.u-flex {
  display: flex;
}

.u-flex-center {
  align-items: center;
  justify-content: center
}

.u-inline-block {
  display: inline-block;
}

.u-relative {
  position: relative;
}

.u-fixed {
  position: fixed;
}

.u-img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.u-absolute {
  position: absolute;
}

.u-fullwidth {
  width: 100%;
}

.u-valign-bottom {
  vertical-align: bottom;
}

.u-dividing-line {
  height: 1px;
  width: 100%;
  display: block;
}

.u-line-height05{
    line-height: 0.5em;
}

.u-line-height07{
    line-height: 0.7em;
}

.u-line-height09{
    line-height: 0.9em;
}

.u-line-height1{
    line-height: 1em;
}

.u-line-height101{
    line-height: 1.1em;
}

.u-line-height102{
    line-height: 1.2em;
}
.u-line-height103{
    line-height: 1.3em;
}
.u-line-height104{
    line-height: 1.4em;
}
.u-line-height105{
    line-height: 1.5em;
}

.u-align-left{
    margin-right: 80px;
    float: left;
}

.u-pull-right {
  float: right;
  //@media(@xs),(@sm)
  //{
  //  float: none;
  //}
}

.u-text-right {
  text-align: right;
  //@media(@xs),(@sm)
  //{
  //  text-align: center;
  //}
}

.u-text-left{
    text-align: left;
}

.u-text-underline{
    text-decoration: underline;
}

.u-image-responsive{
    max-width: 100%;
}
.u-overflow-x{
    overflow-x: hidden;
}
.u-zero-lr-margin{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.u-zero-lr-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@media (max-width: 767px){
    .u-zero-lr-sm-padding{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
.u-opaque-hover {
  &:hover {
    opacity: .8;
  }
}

.u-underline-hover {
  &:hover {
    text-decoration: underline;
  }
}

.u-d-none {
  display: none;
}

@for $j from 1 through 100
{
  .u-rounded-#{$j}
  {
    border-radius: 0px + $j;
  }
}

.u-center {
  margin-left: auto;
  margin-right: auto;
}

.u-index-high {
  z-index: 2;
}

.u-parallax {
  background-attachment: fixed;
}

.row.row-spacing-0{
    margin-left: -0px;
    margin-right: -0px;
    >div{
        padding-left: 0px;
        padding-right: 0px;
    }
}

.row.row-spacing-4{
    margin-left: -2px;
    margin-right: -2px;
    >div{
        padding-left: 2px;
        padding-right: 2px;
    }
}

.row.u-row-spacing-6{
    margin-left: -3px;
    margin-right: -3px;
    >div{
        padding-left: 3px;
        padding-right: 3px;
    }
}

.row.u-row-spacing-8{
    margin-left: -4px;
    margin-right: -4px;
    >div{
        padding-left: 4px;
        padding-right: 4px;
    }
}

.row.u-row-spacing-10{
    margin-left: -5px;
    margin-right: -5px;
    >div{
        padding-left: 5px;
        padding-right: 5px;
    }
}

.row.row-spacing-12{
    margin-left: -6px;
    margin-right: -6px;
    >div{
        padding-left: 6px;
        padding-right: 6px;
    }
}

.row.u-row-spacing-14{
    margin-left: -7px;
    margin-right: -7px;
    >div{
        padding-left: 7px;
        padding-right: 7px;
    }
}

.row.u-row-spacing-16{
    margin-left: -8px;
    margin-right: -8px;
    >div{
        padding-left: 8px;
        padding-right: 8px;
    }
}

.row.u-row-spacing-20{
    margin-left: -10px;
    margin-right: -10px;
    >div{
        padding-left: 10px;
        padding-right: 10px;
    }
}

.row.u-row-spacing-22{
    margin-left: -11px;
    margin-right: -11px;
    >div{
        padding-left: 11px;
        padding-right: 11px;
    }
}

.row.u-row-spacing-26{
    margin-left: -13px;
    margin-right: -13px;
    >div{
        padding-left: 13px;
        padding-right: 13px;
    }
}

.row.u-row-spacing-36{
    margin-left: -18px;
    margin-right: -18px;
    >div{
        padding-left: 18px;
        padding-right: 18px;
    }
}

.row.u-row-spacing-60{
    margin-left: -30px;
    margin-right: -30px;
    >div{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:1199px){
    .row.-row-spacing-reset-1199{
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (max-width: 991px){
    .row.-row-spacing-reset-991{
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (max-width: 767px){
    .row.-row-spacing-reset-767{
        margin-right: -15px;
        margin-left: -15px;
    }
}

.u-border-b1{
    border-bottom: 1px solid #ececec;
}

.u-pr{
  position: relative;
}

.u-pa{
  position: absolute;
  top: 0;
  left: 0;
}
.u-par{
  position: absolute;
  top: 0;
  right: 0;
}
.u-parb{
  position: absolute;
  bottom: 0;
  right: 0;
}

.u-db{
  display: block;
  width: 100%;
}
.u-dib{
  display: inline-block;
}

.u-noborder{
  border: none;
}

.u-hr{
  border-color: #fff;
}

.u-nobr{
  border-radius: 0;
}

.u-tdnone{
  text-decoration: none !important;
}

.u-m0a{
  margin: 0 auto;
}

.u-circle-44{
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.u-ovhi{
  overflow: hidden;
}

.u-w100{
  width: 100%;
}

.u-lsn1{
  letter-spacing: -1px;
}
.u-lsn2{
  letter-spacing: -1px;
}

.u-text-decoration-underline{
    text-decoration: underline;
}

.u-text-decoration-underline-hover{
    &:hover{
        text-decoration: underline;
    }
}
