/*
-----------------------------------------*/
.section-title{
    @media (max-width: 767px){
        font-size: 30px;
    }
    @media (max-width: 500px){
        font-size: 25px;
    }
}

/*
-----------------------------------------*/
.-border-title-generic{
    width: 75px;
    height: 3px;
    background-color: $primary_color1;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    @media (max-width: 500px){
        width: 50px;
    }
}


/*
-----------------------------------------*/
.section-cta{
    margin-bottom: 55px;
    .-wrap{
        >.row{
            margin-left: -5px;
            margin-right: -5px;
            >div{
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        >ul{
            @extend .clear-float;
            padding: 0;
            margin-left: -5px;
            margin-right: -5px;
            margin-bottom: 0;
            >li{
                padding-left: 5px;
                padding-right: 5px;
                vertical-align: middle;
                float: left;
                width: 33.33%;
                display: inline-block;
                list-style-type: none;
                svg {
                        margin-right: 10px;
                    }
            }
        }
    }
    a.-link{
        background-color: $primary_color1;
        display: block;
        //padding: 10px 0px 18px 0px;
        padding: 15px 0px 14px 0px;
        border-radius:  0 0 $radiusBtn $radiusBtn;
        &:hover{
            color: $white;
            background-color: $primary_color1_hover;
        }
        .pw-icon{
            position: relative;
            top: -4px;
            font-size: 28px;
            margin-right: 10px;
            &.icon-marker{
                margin-right: 5px;
            }
        }
        img{
            position: relative;
            top: -2px;
            margin-right: 12px;
        }
    }
    @media (max-width: 1199px){
        a.-link{
            font-size: 14px;
            .pw-icon {
                font-size: 21px;
                margin-right: 9px;
            }
            img{
                margin-right: 9px;
            }
        }
    }

    @media (max-width: 991px){
        margin-bottom: 38px;
        a.-link{
            font-size: 14px;
            .pw-icon {
                top: 1px;
                font-size: 17px;
                margin-right: 2px;
            }
            img{
                margin-right: 2px;
            }
        }
    }

    @media (max-width: 767px){
        a.-link{
            font-size: 14px;
            .pw-icon {
                top: 0;
                font-size: 28px;
                margin-right: 0;
                margin-bottom: 5px;
                display: block;
            }
        }
    }

    @media (max-width: 700px){
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 30px;
        a.-link{
            height: 95px;
            line-height: 1em;
            .pw-icon {
                top: 0;
                font-size: 28px;
                margin-right: 0;
                margin-bottom: 5px;
                display: block;
            }
            img{
                display: block;
                top: 0;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 8px;
            }
        }
    }

    @media (max-width: 500px){
        a.-link{
            font-size: 11px;
            padding: 10px 8px;
                display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            line-height: 1.3;
        }
    }

}


/*
-----------------------------------------*/
.home-page{
    .content-right-text-section{
    margin-bottom: 60px;
    .-content{
        background-color: $text_color4;
        padding: 112px 75px;
        }
    }
}
.team-page{
    .content-right-text-section{
     margin-bottom: 60px;
    .-content{
        background-color: $text_color4;
        padding: 112px 75px;
        }
    }
}
.content-right-text-section{
   
    .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    .-image{
       height: 100%;
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    .-content{
        background-color: $text_color4;
        padding:70px 75px;
        height: 100%;
        .-c-wrap{
            max-width: 740px;
            ul{ 
            li {
              padding:7px 0;
              }
            
            }
        }
        .-title{
            margin: 0 0 40px 0;
            padding: 0 0 40px 0;
            border-bottom: 1px solid #c5c5c5;
            letter-spacing: -2px;
        }
        .-c-body{
            margin-bottom: 50px;
            font-size: 16px;
        }


    }
    
    .middle-section
    { 
     .-image img{max-height:850px}
    .-content{
     background-color:#fff;
    
    }
  }
    @media (max-width: 991px){
        .-content{
            padding: 30px 40px;
            .-title {
                margin: 0 0 30px 0;
                padding: 0 0 30px 0;
            }
        }
        .-image{
            img{
                height: 300px;
            }
        }
    }

    @media (max-width: 767px){
        margin-bottom: 40px;
    }

    @media (max-width: 500px){
        .-content .-title{
            font-size: 40px;
        }
        .-content .-c-body {
            font-size: 14px;
        }
    }

    @media (max-width: 414px){
        .-image img {
            height: 200px;
        }
        .-content{
            padding: 20px;
        }
        .-content .-title{
            font-size: 30px;
            margin: 0 0 20px 0;
            padding: 0 0 20px 0;
        }
        .-content .-c-body {
            font-size: 13px;
            margin-bottom: 0;
        }
        .-content .-c-cta a{
            font-size: 13px;
            padding: 10px 20px;
        }
    }

}

/*
-----------------------------------------*/
.vertical-form-section{
    .-wrap{
        padding:  60px 0 45px 0;
        &.-inner-wrap{
            max-width: 1040px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media (max-width: 500px){
        .-wrap{
            padding:  30px 0 25px 0;
        }
        .section-subtitle{
            font-size: 12px;
        }
        .cta.-wider-3c, .button.-wider-3c {
            padding: 8px 29px;
        }
    }
}

/*
-----------------------------------------*/
.rhs-container{
    max-width: 370px;
    margin-left: auto;
    &.-full{
        max-width: 100%;
    }
    .rhs-mortgage-result{
        border: 1px solid #eaeaea;
        padding: 28px 15px 15px 15px;
        .rhs-mr-style-1{
            line-height: 1em;
        }
    }
    @media (max-width: 991px){
        margin-top: 20px;
        max-width: 100%;
    }
    @media (max-width: 630px){
        .row.col-2-responsive{
            >div{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

/*
-----------------------------------------*/
.rhs-contact-form{
    padding: 35px 40px;
    .-title{
        margin-bottom: 18px;
    }
    .-title-v2{
        margin-bottom: 35px;
    }
    input[type='text'],
    input[type='tel'],
    input[type='password'],
    input[type='email'],
    textarea{
        border-bottom: 1px solid #aeaeae !important;
    }
    @media (max-width: 1199px){
        .-title{
            font-size: 28px;
        }
    }
}

.rhs-search-form{
    padding: 35px 40px;
    .-title{
        margin-bottom: 18px;
    }
    .form-group .fas{
        margin-right: 10px;
    }
    .select-style-1 .select2-container--default .select2-selection--single{
        border-bottom: 1px solid #6d6d6d;
    }
    @media (max-width: 1199px){
        .-title{
            font-size: 28px;
        }
    }
}

/*
-----------------------------------------*/
.rhs-links{
    padding: 40px 35px;
    .-rhs-title{
        border-bottom: 1px solid $primary_color1;
        padding-bottom: 8px;
        margin-bottom: 28px;
        .pw-icon{
            position: relative;
            top: 2px;
            margin-right: 8px;
        }
    }
    ul.-rhs-list{
        padding: 0;
        margin: 0;
        >li{
            list-style-type: none;
            border-bottom: 1px solid #dedede;
            margin-bottom: 30px;
            a{
                display: block;
                padding: 8px 0;
                .pw-icon{
                    display: none;
                    margin-right: 10px;
                }
                &:hover{
                    color: $primary_color1;
                }
            }
            &:nth-last-child(1){
                margin-bottom: 10px;
            }
            &.active{
                border-bottom: 1px solid $primary_color1;
                a{
                    font-weight: 600;
                    .pw-icon{
                        display: inline-block;
                    }
                }
            }
            &.active.-small,{
                a{
                    font-size: 14px;
                }
            }
        }
    }
    @media (max-width: 1199px){
        padding: 40px 30px;
        .-rhs-title{
            margin-bottom: 18px;
        }
        ul.-rhs-list>li {
            margin-bottom: 15px;
        }
    }
    @media (max-width: 991px){
        padding: 30px 30px 25px 30px;
        ul.-rhs-list>li a {
            font-size: 14px;
        }
    }
}

/*
-----------------------------------------*/
.search-title-section{
    margin-bottom: 0px;
    padding: 60px 0 20px 0;
    .-search-title{
        margin-bottom: 30px;
        color: #343434;
    }
    @media (max-width: 991px){
        .-search-title{
            font-size: 35px;
        }
    }
    @media (max-width: 767px){
        padding: 35px 0 20px 0;
        .-search-title{
            font-size: 30px;
        }
    }
    @media (max-width: 500px){
        padding: 30px 0 5px 0;
        .-search-title{
            font-size: 25px;
            margin-bottom: 12px;
        }
    }
    @media (max-width: 414px){
        padding: 30px 0 0px 0;
        .-search-title{
            font-size: 20px;
        }
    }
}

/*
-----------------------------------------*/
body{
    .page-content{

        .page-inner-container{
            max-width: 1040px;
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 1199px){
            margin: 45px 0;
        }
        @media (max-width: 767px){
            margin: 35px 0;
        }
        @media (max-width: 500px){
            margin: 30px 0;
        }
        @media (max-width: 414px){
            margin: 25px 0;
        }
    }
    .valuation-page{
        @media (max-width: 500px){
            margin: 0px;
        }
    }
}

/*
-----------------------------------------*/
.list-of-icons{
    background-color: $text_color4;
    .-wrap{
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;
        padding: 42px 0;
    }
    ul.-list-of-icons-ul{
        padding: 0;
        margin: 0;
        >li{
            display: inline-block;
            float: left;
            //padding: 0 54px 0px 0px;
            width: 16.666%;
            text-align: center;
            text-transform: uppercase;
            line-height: 20px;
            .pw-aligner-center{
                height: 200px;
            }
            a{
                text-align: center;
                display: block;
                &.active{
                    .-loi-image{
                        @include OpacityPW(1);
                    }
                    .-loi-title{
                        color: $dark_gray;
                    }
                }
                .-loi-image{
                    @include OpacityPW(.4);
                    display: block;
                    margin: auto auto 15px auto;
                }
                .-loi-title{
                    color: #a1a1a1;
                    font-size: 15px;
                    font-weight: 500;
                }
                &:hover{
                    .-loi-image{
                        @include OpacityPW(1);
                    }
                    .-loi-title{
                        color: $dark_gray;
                    }
                }
            }

        }
    }
    @media (max-width: 991px){
        ul.-list-of-icons-ul>li {
            width: 33.333%;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3){
                margin-bottom: 25px;
            }
        }
    }
    @media (max-width: 500px){
        ul.-list-of-icons-ul>li{
            line-height: 16px;
        }
        ul.-list-of-icons-ul>li a .-loi-image {
            max-height: 45px;
        }
        ul.-list-of-icons-ul>li a .-loi-title {
            font-size: 12px;
        }
    }
    @media (max-width: 414px){
        ul.-list-of-icons-ul>li {
            width: 50%;
            &:nth-child(4){
                margin-bottom: 25px;
            }
        }
    }
}

/*
-----------------------------------------*/
.latest-news{
    .wrap{
        padding: 55px 0 78px 0;
    }
    @media (max-width: 767px){
        .wrap{
            padding: 35px 0 58px 0;
        }
        .section-header-1{
            margin-bottom: 30px;
            .-section-header-1-title{
                font-size: 30px;
            }
        }
    }
}

/*
-----------------------------------------*/
.social-media-section{
    margin-bottom: 66px;
    .-social-media-title{
        margin-bottom: 14px;
    }
    .contact-sn{
        text-align: center;
        position: relative;
        &::before{
            position: absolute;
            top: 50%;
            height: 3px;
            width: 100%;
            content: ' ';
            display: block;
            background-color: #d7d7d7;
            z-index: 1;
        }
        >ul{
            position: relative;
            margin: 0 -7px;
            padding: 0 12px;
            display: inline-block;
            background-color: $white;
            z-index: 1;
            >li{
                display: inline-block;
                list-style-type: none;
                padding: 0 7px;
                a{
                    background-color: $dark_gray;
                    color: $white;
                    width: 48px;
                    height: 48px;
                    display: inline-block;
                    border-radius: 100%;
                    font-size: 24px;
                    padding: 7px 0px;
                    &:hover{
                        background-color: $primary_color1;
                    }
                }
            }
        }
    }
    @media (max-width: 500px){
       .contact-sn>ul>li a {
            width: 38px;
            height: 38px;
            font-size: 16px;
            padding: 8px 0px;
        }
    }
}

/*
-----------------------------------------*/
.team-page{
    .c-bg-gray-text_color4 {
        background-color: $white;
    }
}
.team-page-content{

.page-inner-container{

max-width: 1070px !important;

.team-list{

    &.-dark{
        background-color: $dark_gray;
        color: $white;
        .generic-text-content{
            color: $white;
        }
    }
    .last-team-row
    {
         .team-content {
            display: flex;
            gap: 40px;
            background: transparent !important;
            .team-member-image img{
                 height:200px !important;
                 object-position: 0 -10px;

            }
         a {
            color: #1389c9 !important;
            font-size:18px;
        }
                @media (max-width: 768px){
                   flex-direction: column;
                }

         .row {
            display: block;
            flex-wrap: nowrap;
            background: #f3f3f3;
            flex: 0 0 50%;
            max-width: calc(50% - 20px);
             @media (max-width: 768px){
                    flex: 100%;
                      max-width:calc(100%);
                }
        }

         .row > div {
            flex: 0 0 100%;
            width: 100%;
            max-width: 100%;
        }
        }
         .image-box{
            p{
                background: #1389c9 !important;
            }
         }
}
    .team-box{
        .justify-content {
             justify-content: space-between;
        }
    .image-box{
        position:relative;
        border-right: 2px solid #e3e3e3;
        padding-right: 80px;
          @media (max-width: 768px){
             padding-right: 0px;
             border-right: none;
            }
        img{

            width: 100%;
             object-fit: cover;
            height:360px;
        }
        p{
        position:absolute;
        width:calc(100% - 80px);
        margin:0;
        bottom:0;
        background:$dark_gray;
        left:0;
        font-size:22px;
        line-height:30px;
        padding:15px 0;
        color:#fff;
          @media (max-width: 768px){
             width:calc(100%);
        }


        }
    }
    .team-content{
    .managed-by {
    color: #163d47;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
    @media (max-width: 768px){
             margin-top: 20px;
        }
}
        .border-bottom.border-top.team-name {
            padding: 20px 0px;
        }

        background:$gray7;
        max-width: 590px;
        .team-member-image img {
            width: 100%;
            height: 360px;
            object-fit: cover;
        }


.team-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
     height: 100%;
     padding: 0 10px;
     h3{font-size:15px;}
     h4{font-size:22px;color:#252525}
     span{font-size:14px;color:#757575}
        ul.social-icon {
            display: flex;
            justify-content: center;
            list-style: none;
            padding:10px 0;
            li a{color:$green;margin:0 4px;font-size:20px;}
        }
    }


    }
    }
    .-title-box{
        padding: 0px 56px;
        margin-bottom: 30px;
        .-bordered{
            height: 2px;
            width: 100%;
            max-width: 100px;
            background-color: $primary_color1;
            margin-top: 5px;
        }
    }



    .generic-text-content{
        padding-right: 50px;
    }
    @media (max-width: 1199px){
        .image-box{
            padding-right: 30px;
        }
    }
    @media (max-width: 991px){
        .pw-aligner {
            display: block;
        }
    }
    @media (max-width: 600px){
        padding: 30px;
        margin-bottom: 40px !important;
        .-title-box{
            text-align: center;
            margin-bottom: 30px;
            padding: 0;
            .-title{
                font-size: 28px;
            }
            .-bordered{
                margin-left: auto;
                margin-right: auto;
            }
        }
        .image-box{
            text-align: center;
            padding-right: 0;
            margin-bottom: 30px;
        }
        .-body-box{
            >.row{
                >div{
                    width: 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
        .generic-text-content{
            padding: 0;
        }
    }
    @media (max-width: 500px){
        .image-box{
            img{
                max-height: 300px;
            }
        }
    }
    @media (max-width: 414px){
        padding: 20px;
        margin-bottom: 20px !important;
        .image-box{
            margin-bottom: 15px;
            img{
                max-height: 200px;
            }
        }
        .-title-box{
            margin-bottom: 20px;
            .-title{
                font-size: 22px;
            }
        }
    }
}
}

}