@page {
  margin: 0px;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-M";
  src: url("../fonts/Roboto-Medium.ttf");
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.italic {
  font-style: italic;
}

.clear {
  clear: both;
}

.break {
  break-after: always;
}

.table-fix-layout {
  table-layout: fixed;
}

.page-heading {
  padding: 20px 0 20px 0;
  font-size: 31px;
}

.-page-margin {
  padding-left: 35px;
  padding-right: 35px;
}

.pdf-icon {
  font-size: 21px;
  color: #a9a9a9;
  text-decoration: none;
}
.pdf-icon:hover {
  text-decoration: underline;
}

.main-img {
  margin-bottom: 10px;
  background-color: #f6f6f6;
}
.main-img img {
  width: 100%;
  height: 450px;
}
.main-img.portrait {
  text-align: center;
}
.main-img.portrait img {
  width: auto;
}

.property-images {
  margin-bottom: 25px;
  margin-left: -5px;
  margin-right: -5px;
}
.property-images .property-img-wrap > td {
  padding: 0 5px;
}
.property-images .property-img-wrap .thumb-box {
  background-color: #f6f6f6;
}
.property-images .property-img-wrap .thumb-box .property-img {
  height: 150px;
  width: 100%;
}
.property-images .property-img-wrap .thumb-box.portrait {
  text-align: center;
}
.property-images .property-img-wrap .thumb-box.portrait .property-img {
  width: auto;
}

.property-gallery {
  text-align: center;
}
.property-gallery .property-img-box .property-img {
  height: 150px;
  max-width: 225px;
  margin-bottom: 20px;
}

.title-pricing-row {
  margin-top: 12px;
  width: 100%;
}
.title-pricing-row table.title-table {
  width: 100%;
}
.title-pricing-row table.title-table .title-pane {
  width: 50%;
}
.title-pricing-row table.title-table .title-pane h1 {
  font-size: 30px;
  margin: 0 0 15px 0;
}
.title-pricing-row table.title-table .title-pane h2 {
  font-size: 18px;
  margin: 0 0 15px 0;
}
.title-pricing-row table.title-table .pricing-pane {
  float: right;
  width: 50%;
  text-align: right;
}
.title-pricing-row table.title-table .pricing-pane h2 {
  text-align: right !important;
  font-size: 30px;
  margin: 0 0 15px 0;
}
.title-pricing-row table.title-table .pricing-pane h3 {
  text-align: right !important;
  font-size: 18px;
  margin: 0 0 15px 0;
}
.title-pricing-row p {
  font-size: 14px;
  margin: 0 0 25px 0;
}

.add-info-container .item-ai {
  padding: 3px 5px;
}
.add-info-container .item-ai .item-ai-inner {
  background-color: #e0e0e0;
  padding: 15px 0px;
}

.page {
  width: 100%;
  display: block;
  height: 1010px;
  position: relative;
}
.page .page-wrap {
  padding-left: 60px;
  padding-right: 60px;
}
.page .footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 15px 30px 20px 30px;
  /* height: 72px; */
  color: #000;
}
.page .footer .f-info { 
  padding: 10px;
}
.page .footer .f-info h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
.page .footer .f-info p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.page .footer .f-info a {
  color: #000;
  text-decoration: none;
}
.page .footer .f-info a.text-red{color:#ff0000;}
.page .footer .f-logo {
  text-align: center;
    border-right: 3px solid #ff0000;
}
.page .footer .f-logo1 {
  text-align: center;
}

/*# sourceMappingURL=property-pdf.css.map */
