/*---------------------------------------------------------
* SVGs
---------------------------------------------------------*/

.icon-arrow-right-style-1{
    &.-adjust-1{
        position: relative;
        top: 2px;
    }
    &.-adjust-2{
        position: relative;
        top: 3px;
    }
}
